.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.modal {
  display: flex;
  justify-content: center;
  position: relative;
  width: 600px;
  height: 400px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #ccc;
}

.button{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 110;
}