@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

* {
  padding: 0;
  margin: 0;
  color: #000;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}
